{
  "plugins": [
    "transform-decorators",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-unicode-property-regex",
    "transform-optional-catch-binding"
  ],
  "env": {
    "development": {
      "presets": [
        "flow",
        "react",
        ["es2015", { "modules": false }],
      ],
      "plugins": [
        "react-hot-loader/babel",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        ["transform-class-properties", { "loose": true }]
      ]
    },
    "test": {
      "presets": [
        "flow",
        "react",
        "es2015",
        ["env", {
          "targets": { "node": "8.5" }
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        "flow",
        "react",
        "es2015",
        ["env", {
          "targets": { "browsers": ["last 2 versions", "safari >= 10"] }
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ],
    }
  }
}
