{
  "plugins": [
    "@babel/syntax-dynamic-import",
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        ["@babel/es2015", { "loose": true, "modules": false }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        "@babel/es2015",
        ["@babel/env", {
          "targets": { "node": "8.9" }
        }]
      ],
    },
    "production": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        "@babel/es2015",
        [
          "@babel/env",
          {
            "targets": { "browsers": ["> 1% in JP", "not Chrome 49", "last 2 Edge versions", "last 2 iOS versions"] }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
