{
  "plugins": [
    "@babel/syntax-dynamic-import",
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        ["@babel/es2015", { "loose": true, "modules": false }],
      ],
      "plugins": [
        ["@babel/transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "@babel/runtime"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        "@babel/es2015",
        ["@babel/env", {
          "targets": { "node": "8.9" }
        }]
      ],
    },
    "production": {
      "presets": [
        "@babel/flow",
        "@babel/react",
        "@babel/stage-0",
        "@babel/es2015",
        ["@babel/env", {
          "targets": { "browsers": ["last 2 versions", "safari >= 10"] }
        }]
      ]
    }
  }
}
