{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", "fb"],
    "max-len": ["error", {"code": 120, "ignoreUrls": true}],
    "no-confusing-arrow": "error",
    "no-mixed-operators": "error",
    "no-unexpected-multiline": "error",
    "global-require": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "node": true,
    "browser": true
  }
}
