#landing {
  transform: translate(0);
  z-index: 1;
  background-color: #434343;
  height: calc(100vh);

  .row_flex {
    color: #fff;
    transform: translate(0);
    z-index: 2;
    display: flex;
  }

  .row_center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header_description {
    padding-top: 3vh;
    color: #fff;
    font-size: 3vw;
  }

  .btn {
    background-color: #666;
  }

  .btn-active {
    background-color: #e276aa;
  }

  .btn_voice_choice {
    padding: 30px 0;
    font-size: 6vw;
    font-weight: bold;
  }

  .btn_voice_choice-fix {
    padding-bottom: 60px;
  }

  .mike {
    transform: translate(0);
    z-index: 3;
    width: 10vw;
    height: 10vw;
  }
}
