{
  "env": {
    "development": {
      "presets": [
        "react",
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 10"]
          },
          "forceAllTransforms": false
        }]
      ],
      "plugins": [
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }],
        "transform-unicode-property-regex",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "react",
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 10"]
          },
          "forceAllTransforms": true
        }]
      ],
      "plugins": [
        "transform-unicode-property-regex",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions"
      ]
    }
  }
}
