<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>PAGETITLE｜SITETITLE</title>
<link rel="stylesheet" type="text/css" href="asset/css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="asset/css/cmn_layout.css" media="all">
<link rel="stylesheet" type="text/css" href="asset/css/style.css" media="all">
<script src="asset/js/jquery.js"></script>
<script src="asset/js/jquery.matchHeight-min.js"></script>
</head>
<body class="patternC">

<header id="header">
	<h1 class="mainTitle">お話しましょう！</h1>
</header>

<div id="content">
	<ul class="freeTalk">
		<li><span class="love">ラヴちゃん</span><span class="txt">体調はどうですか？</span></li>
		<li><span class="me">わたし</span><span class="txt">正直しんどい</span></li>
		<li><span class="love">ラヴちゃん</span><span class="txt">えええっ！大丈夫ですか？！<br>今日は早く帰りましょう！</span></li>
	</ul>
</div>

<p class="assistMsg none"><span>自由回答</span>です<br>「元気だよ」「お腹が痛い」<br>という風に答えてみてください</p>

<footer id="footer">
	<p class="mike"><img src="asset/img/mike_on.svg"></p>
</footer>

</body>
</html>
