<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>PAGETITLE｜SITETITLE</title>
<link rel="stylesheet" type="text/css" href="asset/css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="asset/css/cmn_layout.css" media="all">
<link rel="stylesheet" type="text/css" href="asset/css/style.css" media="all">
<script src="asset/js/jquery.js"></script>
<script src="asset/js/jquery.matchHeight-min.js"></script>
</head>
<body class="patternB">

<header id="header">
	<h1 class="mainTitle">画面に何か出てますか？</h1>
</header>

<div id="content">
	<ul class="answerList">
		<li class="isChoice">エラーが<br />出てる</li>
		<li>勝手に<br />壊れた</li>
		<li>画面が<br />映らない</li>
		<li>ネットに<br />繋がらない</li>
	</ul>
</div>

<footer id="footer">
	<p class="mike"><img src="asset/img/mike_on.svg"></p>
</footer>

</body>
</html>
